name: C CI

on:
  push:
    branches: [ "master" ]
  pull_request:
    branches: [ "master" ]

jobs:
  build:

    runs-on: arch, cachyos

    steps:
    - uses: actions/checkout@v4
    - name: make
      run: make renderb
